import { fetchService } from '@/services'
import * as models from './models'

{{#operations}}
/**
 * {{&summary}}
 */
export function {{name}}({{#paramsType}}params{{^paramsRequired}}?{{/paramsRequired}}: {{&paramsType}}{{#dataType}}, {{/dataType}}{{/paramsType}}{{#dataType}}data{{^dataRequired}}?{{/dataRequired}}: {{&dataType}}{{/dataType}}) {
  return fetchService.{{method}}<{{&returnType}}>('{{&path}}', {{#paramsType}}params{{/paramsType}}{{^paramsType}}undefined{{/paramsType}}, {{#dataType}}data{{/dataType}}{{^dataType}}undefined{{/dataType}})
}

{{/operations}}
